@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #fff;
  margin: 0;
  background: #111;
}

.lists {
  margin-top: -120px;
}

footer {
  margin: 50px 0;
  text-align: center;
  line-height: 1.6;
}

.loading {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #000;
  z-index: 998;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}